@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin '@tailwindcss/forms';
@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary: #171717;
    --color-primary-50: #373737;
    --color-secondary: #171717;
    --color-dark: #171717;
    --color-dark-50: #171717;
    --color-white: #ffffff;
    --color-light: #fafafa;
    --color-info: #eab308;
    --color-success: #10b981;
    --color-danger: #ef4444;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    .btn-sm {
        @apply inline-flex items-center text-white bg-dark hover:bg-dark-50 box-border border border-transparent focus:ring-4 focus:ring-brand-medium font-medium leading-5 rounded text-sm p-1.5 focus:outline-none;
    }
    .btn-primary {
        @apply inline-flex items-center text-white bg-primary hover:bg-primary-50 box-border border border-transparent focus:ring-4 focus:ring-brand-medium font-medium leading-5 rounded text-sm px-4 py-2 focus:outline-none;
    }
    .active {
        @apply !text-white bg-primary hover:!bg-primary-50;
    }
}

@layer components {
    #drawer-navigation {
        z-index: 60 !important;
    }

    [drawer-backdrop] {
        z-index: 40 !important;
    }
}
